button {
    max-width: fit-content;
    margin: 7px;
    border-top-width: 1px!important;
}

.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#score-form {
    display: none;
    margin: 30px;
}